@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="page-manage-content">
    <h1 class="page_title">@ViewData["Title"]</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}