@{ 
    int routeListingId = 0;
    if (ViewData["ListingId"] != null)
    {
        routeListingId = (int)ViewData["ListingId"];
    }

    int routeCulturalActivityId = 0;
    if (ViewData["CulturalActivityId"] != null)
    {
        routeCulturalActivityId = (int)ViewData["CulturalActivityId"];
    }

    int routeRequestId = 0;
    if (ViewData["RequestId"] != null)
    {
        routeRequestId = (int)ViewData["RequestId"];
    }

    int routeId = 0;

    if (routeListingId != 0)
    {
        routeId = routeListingId;
    }

    if (routeCulturalActivityId != 0)
    {
        routeId = routeCulturalActivityId;
    }

    if (routeRequestId != 0)
    {
        routeId = routeRequestId;
    }
}

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalTitle">Are you sure you want to delete?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-page-handler="Delete" asp-route-redirectPageId="@routeId">
                <input type="hidden" id="idVal" name="id" />
                <div class="modal-body" id="modalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>
